.experiencia {
  max-width: 1300px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experiencia .subtitulo {
  color: #9a9da7;
}

.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  padding: 30px 60px;
  border-radius: 4px;
  background-color: #edeef10c;
}

.experiencia-texto strong {
  color: #b8bbc4;
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .experiencia .subtitulo {
    color: #ffffff;
  }
  .experiencia-texto {
    font-size: 1.25rem;
  }
}
